[submodule "vim/base/fugitive"]
	path = vim/base/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/base/easymotion"]
	path = vim/base/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/base/colors-solarized"]
	path = vim/base/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/base/session"]
	path = vim/base/session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/base/misc"]
	path = vim/base/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/base/surround"]
	path = vim/base/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/base/mustache"]
	path = vim/base/mustache
	url = https://github.com/juvenn/mustache.vim.git
